.whatsapp-icon {
  width: 210px;
}
.google {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(149, 215, 149);
  width: 200px;
  margin-top: 20px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.google-icon {
  width: 25px;
  height: 25px;
}
